@tailwind base;
@tailwind components;
@tailwind utilities;

/** Bases **/
body {
    @apply bg-white h-screen dark:bg-slate-900;
}

.section {
    @apply w-full min-h-screen;
}
.container {
    @apply mx-auto p-4  text-slate-900 dark:text-slate-50;
}
.dashboard {
    @apply flex flex-row flex-wrap justify-center;
}
h2 {
    @apply font-medium antialiased text-2xl py-4 text-slate-900 dark:text-slate-50;
}

/** MENU **/
.nav {
    @apply relative bg-white dark:bg-slate-800;
}
.nav-bar {
    @apply max-w-full mx-auto px-4 sm:px-6;
}
.nav-bar-container {
    @apply flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10 dark:border-gray-700;
}

.nav-bar-container .logo-container {
    @apply flex justify-start lg:w-0 lg:flex-1;
}

.logo-container .logo {
    @apply h-8 w-auto sm:h-10;
}

.menu-mobile {
    @apply -mr-2 -my-2 md:hidden;
}

.nav-bar-menu {
    @apply hidden md:flex space-x-10;
}

.nav-bar-profile-container {
    @apply hidden md:flex items-center justify-end md:flex-1 lg:w-0;
}

/** Form **/
.group-form-input{
    @apply flex flex-row flex-wrap justify-start justify-items-center items-center w-full;
}
.group-form-input label {
    @apply dark:text-gray-100 text-slate-900 font-semibold;
}
.input-form-default{
    @apply p-2 my-1 rounded-md italic text-gray-600 dark:bg-gray-200 placeholder:text-gray-400 placeholder:p-2 placeholder:font-sans placeholder:italic w-full;
}

.input-form-date {
    @apply p-2 my-1 rounded-md italic text-gray-600 dark:bg-gray-200 placeholder:text-gray-400 placeholder:p-2 placeholder:font-sans placeholder:italic w-full;
}

.card {
    @apply bg-gray-100 dark:bg-slate-800 dark:bg-slate-700 rounded-lg p-4 flex flex-wrap flex-col justify-start m-4 drop-shadow-md;
}

.btn-create {
    @apply bg-green-400 rounded-md p-2 font-semibold hover:bg-green-500  mt-6;
}

/** Table List Customer **/
.table-action{
    @apply flex flex-row justify-between px-2;
}
.table-action-head{
    @apply w-36;
}

.view-customer{
    @apply text-green-300 hover:text-green-500;
}
.edit-customer {
    @apply text-yellow-300 hover:text-yellow-500;
}
.delete-customer {
    @apply text-red-300 hover:text-red-500;
}

/**** Customer Page ****/

.banner-profile {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23c5c5c5' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    @apply m-0 p-0 h-64 flex flex-row items-center rounded;
}

.immage-customer{
    @apply flex flex-row justify-start items-center;
}

.immage-customer img {
    @apply w-24 mx-6 rounded-full border-4 drop-shadow-lg;
}

.immage-customer .anagraphic {
    @apply font-semibold text-2xl;
}

.immage-customer .birthday {
    @apply font-sans;
}

.notes{
    @apply py-4;
}
.notes h1 {
    @apply text-2xl;
}

.fisarmonic-notes{
    @apply bg-slate-200 dark:bg-slate-400 w-full flex flex-row justify-between p-4 font-semibold rounded mt-4;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23c5c5c5' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.fisarmonic-notes svg {
    @apply w-6 h-6;
}
.description-notes {
    @apply bg-gray-200 p-4 text-slate-900 -mt-1 rounded-br-lg rounded-bl-lg;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c5c5c5' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.controls-notes {
    @apply flex flex-row w-full justify-end items-center;
}

.controls-notes a {
    @apply mx-2;
}

.notes-header {
    @apply flex flex-row justify-between items-center;
}

.add-note {
    @apply bg-green-400 hover:bg-green-500 rounded-full p-2 text-white font-semibold;
}


/** MODAL **/

.modal{
    @apply relative z-50;
}
.modal .backdrop {
    @apply fixed inset-0 bg-black/30;
}
.modal .screen_container {
    @apply fixed inset-0 flex items-center justify-center;
}

.modal .screen_container .card_container {
    @apply w-full max-w-sm rounded bg-slate-50 p-2;
}
.modal .screen_container .card_container .modal_title {
    @apply text-center;
}

.card_container .button_section {
    @apply flex justify-between items-center  mt-4;
}

.btn-modal-create {
    @apply bg-green-400 rounded-md p-2 font-semibold hover:bg-green-500
}

.btn-modal-cancel {
    @apply bg-red-400 rounded-md p-2 font-semibold hover:bg-red-500
}

